body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
}

header {
    text-align: center;
}

.contact-info, .education, .certificates, .skills {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    /* Add responsive styles as needed */
    .container {
        padding: 10px;
    }
}
