/* style.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

.contact-info {
  margin: 20px;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.education,
.certificates,
.skills {
  margin: 20px;
}

h2 {
  margin: 10px 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #0000EE;
  text-decoration: underline;
}

a:hover {
  color: #FF0000;
}
